/** {
  border: 1px solid pink;
}*/

html, body, .container {
  margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
}

body {
  background-color: #000;
  font-family: "Helvetica Neue";
  color: #fff;
}

/* top area */

.top-nav {

}

#top-logo {
  float: left;
}

svg#top-logo {
  display: block;
}

.header {
  margin-left: 10em;
}

.name {
  vertical-align: top;
  font-size: 75px;
}

/* smaller photo */

#foto {Â}

.smaller-photo {
  margin-left: 15%;
  height: 50%;
  width: 50%;
}
/* upload photo area */

#photo-area {
  background-image: url("../imgs/mirror-example.png");
  height: 100%;
}

.upload-area {
  margin: 2em;
}

.zoom {
  zoom: 200%;
}
