/** {
  border: 1px solid pink;
}*/

html, body {
  margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
}

body {
  background-color: #000;
  font-family: "Helvetica Neue";
  color: #fff;
}

.container {
}


/* top area */

.top-nav {

}

#top-logo {
  float: left;
}

svg#top-logo {
  display: block;
}

.header {
  margin-left: 10em;
}

.name {
  vertical-align: top;
  font-size: 75px;
}

/* upload photo area */

.upload-area {
  margin: 2em;
}
